In [3]:
import pandas as pd

raw_shots = """Cut 1
Cut 1
Cut 1
Transition 0
Transition 1
Transition 1
Transition 1
Transition 1
Baseline Drive 1
Baseline Drive 0
Baseline Drive 0
Drive 0
Drive 0
Drive 0
Drive 0
Drive 0
Drive 0
Drive 0
Drive 0
Drive 0
Drive 0"""

shots = raw_shots.split("\n")

shots_df = pd.DataFrame(shots, columns=["Play Type"])
shots_df['Outcome'] = shots_df['Play Type'].apply(lambda i : i[-1])
shots_df['Play Type'] = shots_df['Play Type'].apply(lambda i : i[0:-2])

shots_df.head()

    Play Type Outcome
0         Cut       1
1         Cut       1
2         Cut       1
3  Transition       0
4  Transition       1

In [4]:
shots_df.to_csv("anisha_chintala.csv")