In [19]:
import pandas as pd

teams = """
WashU 30.7 56.9
NYU 30.4 66.8
Carnegie 33.5 59.0
Case 22.6 57.6
Chicago 25.7 56.5
Brandeis 23.1 51.2
Emory 27.1 62.0
Rochester 29.4 63.7
"""

uaa = pd.DataFrame([i.split(" ") for i in teams.split("\n")[1:-1]],
                   columns=["Team", "Paint", "Total Points"])

uaa['Paint%'] = 100 * round(uaa.Paint.astype(float) / uaa['Total Points'].astype(float), 3)
uaa = uaa.sort_values(by='Paint%', ascending=False)

uaa = uaa[['Team', 'Paint', 'Paint%', 'Total Points']]

uaa.set_index("Team")

          Paint  Paint% Total Points
Team
Carnegie   33.5    56.8         59.0
WashU      30.7    54.0         56.9
Rochester  29.4    46.2         63.7
NYU        30.4    45.5         66.8
Chicago    25.7    45.5         56.5
Brandeis   23.1    45.1         51.2
Emory      27.1    43.7         62.0
Case       22.6    39.2         57.6

In [15]:
import pandas as pd

raw_shots = """
Off-Ball Cut 0
Off-Ball Cut 1
Transition 1
Transition 1
Transition 1
Transition 1
Transition 1
Transition 1
Transition 1
Transition 0
Transition 0
Transition 0
Transition 0
Drive Right 0
Drive Right 0
Drive Right 0
Drive Right 1
Drive Right 1
Drive Right 1
Drive Right 1
Drive Right 1
Drive Left 0
Drive Left 0
Drive Left 0
Drive Left 0
Drive Left 0
Pull-Up 2 1
Pull-Up 2 0
Pull-Up 2 0
Pull-Up 2 0
Pull-Up 3 0
Pull-Up 3 0
Pull-Up 3 1
Post-Up (Left) 1
Post-Up (Left) 1
Post-Up (Left) 0
Post-Up (Left) 0
Post-Up (Right) 0
Post-Up (Right) 1
Catch + Shoot 3 1
Catch + Shoot 3 1
Catch + Shoot 3 1
Catch + Shoot 3 1
Catch + Shoot 3 0
Catch + Shoot 3 0
Catch + Shoot 3 0
Catch + Shoot 3 0
Catch + Shoot 3 0
Offensive Rebound 1
Offensive Rebound 1
Offensive Rebound 0
Offensive Rebound 0
"""

shots = raw_shots.split("\n")[1:-1]
 
shots_df = pd.DataFrame(shots, columns=["Play Type"])
shots_df['Outcome'] = shots_df['Play Type'].apply(lambda i : i[-1])
shots_df['Play Type'] = shots_df['Play Type'].apply(lambda i : i[0:-2])

In [16]:
shots_df.to_csv("jessicabrooks220.csv")